In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('dataset.csv')
df.head()

,Q1 Score,Q2 Score,Q3 Score,Q4 Score,Q5 Score,Q6 Score,Q7 Score,Q9 Score,Total Score,Risk Category
0,5,3,6,4,3,5,2,5,33,High Risk of Bulimia Nervosa
1,6,2,6,6,3,2,2,3,36,High Risk of Bulimia Nervosa
2,1,5,6,3,5,1,5,0,36,High Risk of Bulimia Nervosa
3,1,5,7,6,6,0,0,5,23,High Risk of Bulimia Nervosa
4,0,0,1,0,1,2,3,3,30,Moderate Risk - Seek Further Evaluation

In [8]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
df['Risk Category'] = lb.fit_transform(df['Risk Category'])
df['Risk Category']

,Q1 Score,Q2 Score,Q3 Score,Q4 Score,Q5 Score,Q6 Score,Q7 Score,Q9 Score,Total Score,Risk Category
995,2,6,3,5,7,3,5,0,11,4
996,5,4,4,6,6,5,3,4,35,3
997,2,4,0,1,5,4,0,2,33,1
998,1,2,1,5,4,0,0,0,27,3
999,5,1,7,2,0,4,0,0,38,0

In [21]:
from sklearn.model_selection import train_test_split
x = df.drop('Risk Category', axis=1)
y = df['Risk Category']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [20]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state=17)
dt.fit(x_train,y_train)
y_pred = dt.predict(x_test)

In [19]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test, y_pred)

In [15]:
from sklearn.model_selection import GridSearchCV, cross_val_score
tree_params = {"max_depth": range(1,16)}
gt = GridSearchCV(dt, tree_params, cv=5, verbose=True)
gt.fit(x_train, y_train)
gt.best_params_

Fitting 5 folds for each of 15 candidates, totalling 75 fits

{'max_depth': 2}

In [18]:
final_dt = DecisionTreeClassifier(max_depth=2, random_state=17)
final_dt.fit(x_train, y_train)
y_pred = final_dt.predict(x_test)
newacc= accuracy_score(y_test,y_pred)

In [22]:
import joblib
joblib.dump(final_dt, 'final_dt.joblib')

['final_dt.joblib']