In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('dataset.csv')
df.head()

,Q1 Score,Q2 Score,Q3 Score,Q4 Score,Q5 Score,Q6 Score,Q7 Score,Q9 Score,Total Score,Risk Category
0,5,3,6,4,3,5,2,5,33,High Risk of Bulimia Nervosa
1,6,2,6,6,3,2,2,3,36,High Risk of Bulimia Nervosa
2,1,5,6,3,5,1,5,0,36,High Risk of Bulimia Nervosa
3,1,5,7,6,6,0,0,5,23,High Risk of Bulimia Nervosa
4,0,0,1,0,1,2,3,3,30,Moderate Risk - Seek Further Evaluation

In [6]:
from sklearn.model_selection import train_test_split
x = df.drop('Risk Category', axis=1)
y = df['Risk Category']

x_train, y_train, x_test, y_test = train_test_split(x, y, test_size=0.3)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()